---
extends: default

ignore:
  - /.github/
  - /.ansible-lint

rules:
  indentation:
    spaces: 2
    indent-sequences: consistent
    check-multi-line-strings: true
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  document-start: disable
  line-length:
    max: 160
  braces:
    min-spaces-inside: 0 # yamllint defaults to 0
    max-spaces-inside: 1 # yamllint defaults to 0
  octal-values:
    forbid-implicit-octal: true # yamllint defaults to false
    forbid-explicit-octal: true # yamllint defaults to false
  # quoted-strings:
  #   quote-type: any
  #   required: true
